# Ignore environment config
.env

# Ignore virtual environments
sdk_venv/
.venv/
venv/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode settings
.vscode/

# Pytest / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint.log

# Build artifacts
build/
dist/
*.egg-info/

# Editors
*.swp
*.swo
.idea/

# Temporary files
*.bak
*.tmp
*.orig

# Ignore backups
*.old
*.backup
